{% extends '@TwigDoc/base.html.twig' %}

{% block body %}
    <div id="twig-doc-container">
        {% include '@TwigDoc/component/_search.html.twig' %}

        {% set currentTab = 2 %}

        {% if not components %}
            <div class="twig-doc-error">
                No components found
            </div>
        {% endif %}
        <div class="twig-doc-body">

            <button onClick="setScreenwidth('small');">S</button>
            <button onClick="setScreenwidth('medium');">M</button>
            <button onClick="setScreenwidth('large');">L</button>
            <button onClick="setScreenwidth('default');">Default</button>
            <div class="tabs">
                {% for categoryName, items in components %}

                    <input class="radiotab" name="tabs" tabindex="{{ loop.index }}" type="radio" id="tab_{{ loop.index }}" {{ loop.index == currentTab ? "checked='checked'" : ""}}>
                    <label class="label" for="tab_{{ loop.index }}">{{ categoryName}}</label>
                    <div class="panel" tabindex="{{ loop.index }}">
                        {% for item in items %}
                            {% include '@TwigDoc/component/_item.html.twig' with { component: item }%}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
