{% block head %}
    {% block stylesheets %}
        <style>
            {{ include('@TwigDoc/style/style.css.twig') }}
        </style>
    {% endblock %}
    <title>{% block title %}Twig Component Documentation{% endblock %}</title>
    {% block javascripts %}
        <script type="application/javascript">
            window.addEventListener('load', () => {
                document.querySelectorAll('.twig-doc-variation h5').forEach(
                    function (element) {
                        element.addEventListener('click', function () {
                            let variation = element.getAttribute('data-variation');
                            element.parentNode.querySelectorAll('.twig-doc-variation-body, h5').forEach(
                                function (e) {
                                    e.classList.remove('active');
                                });
                            element.classList.add('active');
                            element.parentNode.querySelector(`.twig-doc-variation-body[data-variation="${variation}"]`).classList.add('active');
                        })
                    }
                )
                const observer = new ResizeObserver((entries) => {
                    for (const entry of entries) {
                        entry.target.closest('.twig-doc-variation-body').querySelector('.twig-doc-viewport-width-value').innerText = entry.contentRect.width;
                    }
                })
                document.querySelectorAll('.twig-doc-viewport').forEach((e) => {
                    observer.observe(e);
                })
            });
        </script>
    {% endblock %}
{% endblock %}

{% block navigation %}
    <div class="twig-doc-navigation">
        {% for category in getComponentCategories() %}
            {% if loop.first %}
                <ul>
            {% endif %}
            <li>
                <a href="{{ path('twig_doc_home', {filterQuery: category.name, filterType: 'category'}) }}">{{ category.name }}</a>
                {% for subCategory in getSubCategories(category.name) %}
                    {% if loop.first %}
                        <ul>
                    {% endif %}
                    <li>
                        <a href="{{ path('twig_doc_home', {filterQuery: subCategory.name, filterType: 'subCategory'}) }}">
                            {{ subCategory.name }}
                        </a>
                    </li>
                    {% if loop.last %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block body %}
    <div id="twig-doc-container">
        {% include '@TwigDoc/component/_search.html.twig' %}

        {% if not components %}
            <div class="twig-doc-error">
                No components found
            </div>
        {% endif %}
        <div class="twig-doc-body">
            {% for component in components %}
                {% include '@TwigDoc/component/_item.html.twig' with { component: component } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
