<div class="error">
    <h2>{{ component.originalConfig.name }}</h2>
    <h4>Path</h4>
    <p>{{ component.originalConfig.path ?? 'UNKNOWN PATH' }}</p>
    <h4>Error-Details:</h4>
    <p>
        {{ component.violationList }}
    </p>
    <h4>Component Configuration</h4>
    <p>Name: {{ component.originalConfig.name ?? '' }}</p>
    <p>Title: {{ component.originalConfig.title ?? '' }}</p>
    <p>Description: {{ component.originalConfig.description ?? '' }}</p>
    <p>Parameters: </p>
    {% for key, type in component.originalConfig.parameters ?? [] %}
        {% if loop.first %}
        <ul>
        {% endif %}
            <li>{{ key }}: {{ type }}</li>
        {% if loop.last %}
        </ul>
        {% endif %}
    {% endfor %}
    <p>Tags:</p>
    {% for tag in component.originalConfig.tags %}
        {% if loop.first %}
        <ul>
        {% endif %}
            <li>{{ tag }}</li>
        {% if loop.last %}
        </ul>
        {% endif %}
    {% endfor %}
    <p>Variations:</p>
    {% for key, value in variation %}
        {% if loop.first %}
        <ul>
        {% endif %}
            <li>{{ key }}: {{ value }}</li>
        {% if loop.last %}
        </ul>
        {% endif %}
    {% endfor %}
</div>
