<div class="twig-doc-component">
    <h3>{{ component.title }} ({{ component.name ~ '.html.twig' }})</h3>
    <p>Description: {{ component.description }}</p>
    <p>Category: <a href="{{ path('_documentation_home', {'filterQuery': component.mainCategory.name, 'filterType': 'category'}) }}">{{ component.mainCategory.name }}</a></p>
    <p>Sub-Category:
        {% if component.category.parent %}
        <a href="{{ path('_documentation_home', {'filterQuery': component.category.name, 'filterType': 'sub_category' }) }}">
            {{ component.category.name }}
        </a>
        {% else %}
        NONE
        {% endif %}
    </p>
    <div class="twig-doc-component-configuration">
        <h5>Parameters</h5>
        <ul>
            {% for key, type in component.parameters %}
                <li>
                    {{ key }}: {% include '@TwigDoc/component/_parameter.html.twig' with {parameter: type} %}
                </li>
            {% endfor %}
        </ul>
        <h5>Tags</h5>
        <ul>
            {% for tag in component.tags %}
                <li><a href="{{ path('_documentation_home', {'filterQuery': tag, 'filterType': 'tag'}) }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="twig-doc-component-examples">
        <h5>Examples</h5>
        {% for variation in component.variations %}
            <div class="twig-doc-component-variation">
                {{ renderComponent(component, variation)|raw }}
                <ul>
                    {% for key, value in variation %}
                        <li>
                            {{ key }}: {% include '@TwigDoc/component/_parameter.html.twig' with {parameter: value} %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
