<div {{ attributes.defaults(stimulus_controller('@qossmic/twig-doc-bundle/component')) }}>
    <div class="twig-doc-component">
        <div class="twig-doc-component-description">
            <h3>{{ component.title }} ({{ component.name ~ '.html.twig' }})</h3>
            <div class="twig-doc-component-configuration">
                <div>
                    <h4>Description</h4>
                    <p>{{ component.description }}</p>
                </div>
                <div>
                    <h4>Parameters</h4>
                    <ul>
                        {% for key, type in component.parameters %}
                            <li>
                                <b>{{ key }}:</b>
                                {% include '@TwigDoc/component/_parameter.html.twig' with {parameter: type} %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h4>Category</h4>
                    <p>
                        <a href="{{ path('_documentation_home', {'filterQuery': component.mainCategory.name, 'filterType': 'category'}) }}">{{ component.mainCategory.name }}</a>
                    </p>
                </div>
                <div>
                    <h4>Sub-Category</h4>
                    {% if component.category.parent %}
                        <p>
                            <a href="{{ path('_documentation_home', {'filterQuery': component.category.name, 'filterType': 'sub_category' }) }}">
                                {{ component.category.name }}
                            </a>
                        </p>
                    {% else %}
                        <p>NONE</p>
                    {% endif %}
                </div>
                <div>
                    <h4>Tags</h4>
                    {% for tag in component.tags %}
                        <p>
                            <a href="{{ path('_documentation_home', {'filterQuery': tag, 'filterType': 'tag'}) }}">{{ tag }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            {% for name, breakpoint in breakpoints|sort %}
                <button data-action="live#action" data-action-name="apply(breakpoint={{ name }})">
                    {{ name|upper }} ({{ breakpoint }}px)
                </button>
            {% endfor %}
        </div>
        <div class="twig-doc-preview-config">
            <button data-action="live#action" data-action-name="showMore" title="Show another component in preview">+
            </button>
            <button data-action="live#action" data-action-name="reset" title="Reset preview">Reset Preview</button>
            {% include '@TwigDoc/component/_live_config.html.twig' with {component: component, componentData: componentData} %}
        </div>
        <div class="twig-doc-preview">
            <div>
                <h4>Preview (screen-width: {{ breakpoints[breakpoint]}}px) <span data-loading>refreshing...</span></h4>
            </div>
            <div class="twig-doc-viewport-container">
                <div class="twig-doc-viewport">
                    <div class="twig-doc-preview-item">
                        <iframe src="{{ path('_documentation_component_view', {name: component.name, data: componentData, quantity: quantity, breakpoint: breakpoint}) }}"></iframe>
                        {#{% for i in 1..quantity %}
                            {{ renderComponent(component, componentData)|raw }}
                        {% endfor %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
